<div class="table-responsive">
    <table class="table table-striped" border='0'>
        <thead>
            <tr>
                <th>Domingo</th>
                <th>Segunda</th>
                <th>Terça</th>
                <th>Quarta</th>
                <th>Quinta</th>
                <th>Sexta</th>
                <th>Sábado</th>            
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ol>
                                    
                    </ol>
                </td>
                <td>
                    <ul>
                        <li>{{data | date: "HH:mm"}}</li>     
                        <li>{{data | date: "HH:mm"}}</li>                                       
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{data | date: "HH:mm"}} - <a href="#">Excluir</a></li>     
                        <li>{{data | date: "HH:mm"}}</li> 
                        <li>{{data | date: "HH:mm"}}</li> 
                        <li>{{data | date: "HH:mm"}}</li>                
                        <li>{{data | date: "HH:mm"}}</li>  
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{data | date: "HH:mm"}}</li>     
                                     
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{data | date: "HH:mm"}}</li>     
                                        
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>{{data | date: "HH:mm"}}</li>     
                                     
                    </ul>
                </td>
                <td>
                    <ul>
                                     
                    </ul>
                </td>            
            </tr>
        </tbody>
    </table>
</div>